@charset "UTF-8";
/* فايدته لو عاوز تخلي العنصر يدي نفس الريسبونسيف للميديا اللي بعده واللي بعده 
 ex:-    @media (min-width: 992px) {
      float: $float-left;
      width: (100% / 3); }
     large دا كدا بيدي نفس الخصائص بتاعته للميديا  ال 
      */
* {
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
}

.main-button {
  background-color: rgba(226, 73, 76, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  border-radius: 6px;
  text-transform: uppercase;
  min-width: 120px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.main-button:hover {
  background-color: #e2494c;
}

.toggle-menu {
  background: none;
  border: none;
  width: 50px;
  cursor: pointer;
  margin-top: 15px;
  left: 87%;
  bottom: 75px;
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .toggle-menu {
    display: block;
  }
}
.toggle-menu span {
  height: 6px;
  background-color: #e2494c;
  display: block;
  margin-bottom: 4px;
}

.head-with-border {
  position: relative;
}
.head-with-border h2 {
  text-align: center;
  background-color: #e2494c;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  width: 400px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.head-with-border h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #9c9c9c;
  left: 0;
  top: 50%;
  z-index: -1;
}
@media (max-width: 767px) {
  .head-with-border h2 {
    width: 300px;
  }
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  margin: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #9c9c9c;
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .logo {
    width: 30%;
    float: left;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .header .logo {
    width: 30%;
    float: left;
  }
}
.header .logo h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.header .logo p {
  color: #9c9c9c;
}
.header .navbar {
  overflow: hidden;
  background-color: #e2494c;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .header .navbar {
    display: none;
    position: relative;
    bottom: 45px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header .navbar {
    width: 100%;
    float: none;
    margin-top: 30px;
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header .navbar {
    width: 70%;
    float: left;
    margin-top: 1em;
  }
}
@media (min-width: 1200px) {
  .header .navbar {
    width: 70%;
    float: left;
    margin-top: 1em;
  }
}
.header .navbar li {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 767px) {
  .header .navbar li {
    display: block;
    float: none;
    width: 100%;
    text-align: left;
    padding: 0 10px;
  }
}
.header .navbar li a {
  color: #fff;
  display: block;
  padding: 20px 10px;
  transition: 0.5s;
}
.header .navbar li a:hover {
  color: #ddd;
  padding-left: 25%;
}

.slider blockquote {
  font-size: 20px;
  font-style: italic;
  font-family: Tahoma, Arial;
  line-height: 1.7;
  width: 80%;
  text-align: center;
  color: #5e5e5e;
  margin: 30px auto;
}
.slider img {
  width: 100%;
}
@media (max-width: 767px) {
  .slider img {
    margin-left: 0;
  }
}
.slider .bullets {
  text-align: center;
}
.slider .bullets li {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 2px solid #9c9c9c;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: #fff;
  border: 2px solid #9c9c9c;
}

@media (min-width: 992px) {
  .services .service-box {
    float: left;
    width: 33.3333333333%;
  }
  .services .service-box:not(:last-of-type) {
    padding-right: 20px;
  }
}
.services .service-box .service-title {
  color: #555;
}
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 6px;
  right: 2px;
  padding: 0 10px;
}
.services .service-box .service-desc {
  color: #777;
  line-height: 1.5;
}
.services .service-box .service-link {
  color: #e2494c;
}
@media (max-width: 767px) {
  .services .service-box i {
    display: block;
    margin-bottom: 15px;
  }
}

.our-players .player-box {
  float: left;
  width: 20%;
  margin: 20px 0;
  padding-right: 20px;
}
.our-players .player-box img {
  width: 300px;
  height: 200px;
  max-width: 100%;
}
.our-players .player-box .player-title {
  color: #666;
  font-weight: normal;
}
.our-players .player-box .player-title span {
  font-weight: bold;
}
.our-players .player-box .player-desc {
  color: #777;
  line-height: 1.5;
}
.our-players .player-box .player-link {
  color: #e2494c;
}
@media (max-width: 767px) {
  .our-players .player-box {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .our-players .player-box {
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our-players .player-box {
    width: 33.3333333333%;
    padding: 0 20px;
  }
}

.lorem-ipsum .lorem-box {
  float: left;
  width: 31.3333333333%;
}
.lorem-ipsum .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}
.lorem-ipsum .lorem-box .lorem-img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .lorem-ipsum .lorem-box {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .lorem-ipsum .lorem-box {
    width: 700px;
    margin-bottom: 20px;
  }
}

.footer {
  background-color: #d9d9d9;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 30px;
}
.footer .gallery,
.footer .info,
.footer .contact {
  float: left;
}
.footer .gallery {
  width: 50%;
}
.footer .gallery .img-box {
  overflow: hidden;
  margin-bottom: 20px;
}
.footer .gallery .img-box img {
  float: left;
  width: 150px;
  height: 150px;
}
.footer .gallery .img-box .footer-text {
  float: left;
  margin: 0 15px;
  width: calc(100% - 180px);
}
.footer .gallery .img-box .footer-text h4 {
  color: #e2494c;
  margin: 10px 0 0;
}
.footer .gallery .img-box .footer-text p {
  color: #555;
  line-height: 1.8;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .footer .gallery {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .gallery {
    width: 100%;
  }
}
.footer .info {
  width: 25%;
}
.footer .info ul {
  line-height: 1.8;
  color: #555;
}
.footer .info ul li span {
  color: #e2494c;
}
.footer .info h4 {
  color: #555;
  font-weight: bold;
}
.footer .info p {
  color: #555;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .footer .info {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .info {
    width: 50%;
    text-align: center;
  }
}
.footer .contact {
  width: 25%;
}
.footer .contact input[type=text],
.footer .contact input[type=email],
.footer .contact textarea {
  border: 1px solid #c9c9c9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  width: 100%;
  color: #e2494c;
}
.footer .contact textarea {
  height: 140px;
}
@media (max-width: 767px) {
  .footer .contact {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .contact {
    width: 50%;
    text-align: center;
  }
}
.footer .section-title {
  color: #444;
  font-weight: normal;
}
.footer .copyright {
  padding: 25px 0;
  color: #555;
  border-top: 1px solid #888;
  overflow: hidden;
}
.footer .copyright .copyrighttext,
.footer .copyright .copyrightauthor {
  float: left;
  width: 50%;
}
@media (max-width: 767px) {
  .footer .copyright .copyrighttext,
  .footer .copyright .copyrightauthor {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.footer .copyright .copyrightauthor {
  text-align: right;
}
.footer .copyright .copyrightauthor span {
  color: #e2494c;
}
@media (max-width: 767px) {
  .footer .copyright .copyrightauthor {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=web.css.map */